<v-app dark>
    <v-content>
        <!-- Nav bar-->
        <template>
            <v-toolbar class="indigo accent-4">
                <v-toolbar-title class="white--text">coinWATCH</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn class="white--text" flat>Manage</v-btn>
                <v-btn class="white--text" flat>Settings</v-btn>
                <v-btn class="white--text" flat>Log out</v-btn>
            </v-toolbar>
        </template>

        <v-container>
            <br>
            <template>
                <v-card height="800" flat>
                    <div class="headline text-xs-center pa-5">Active: {{ e1 }}
                        <v-btn>Theme</v-btn>
                    </div>
                    <v-bottom-nav absolute :value="false" :active.sync="e1" color="transparent">
                        <v-btn flat color="teal" value="recent">
                            <span>Recent</span>
                            <v-icon>history</v-icon>
                        </v-btn>
                        <v-btn flat color="teal" value="favorites">
                            <span>Favorites</span>
                            <v-icon>favorite</v-icon>
                        </v-btn>
                        <v-btn flat color="teal" value="nearby">
                            <span>Nearby</span>
                            <v-icon>place</v-icon>
                        </v-btn>
                    </v-bottom-nav>
                </v-card>
            </template>
        </v-container>
    </v-content>
</v-app>